/* general styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&family=Permanent+Marker&family=Questrial&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&family=Questrial&family=Shrikhand&display=swap');

* {
  margin: 0 auto;
  text-align: center;
}

:root {
  --night: #141414;
  --celadon: #a9e5bbff;
  --persian-blue: #2541b2ff;
  --salmon-pink: #ffa3afff;
  --honolulu-blue: #007cbeff;
  --mint-cream: #EFFFFA;
}

body {
  background-color: var(--night);
  color: var(--mint-cream);
}

/* website section */
.hero {
  height: 100vh;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.about-section {
  display: flex;
  flex-direction: column;
}

.flex-left {
  flex: 1;
}

.flex-right {
  flex: 1;
}

.tech-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.selection-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  cursor: pointer;
}

/* fonts */
h1 {
  font-family: 'lilita One', static; 
  font-size: 2.9rem;
  color: var(--mint-cream);
  line-height: 1.3;
}

h3 {
  font-family: 'lilita One', static;
  font-size: 1.8rem;
  color: var(--mint-cream);
  margin-top: 2rem;
}

.hero p {
  color: var(--night);
}

p {
  font-family: 'questrial', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
  margin: 0.8rem 0;
}

.author {
  color: var(--salmon-pink);
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 2rem;
}

/* icons and images */
#portrait {
  height: 100%;
  width: 100%;
}

/* buttons */
button {
  background-color: var(--honolulu-blue);
  border: none;
  padding: 1rem 1.1rem; 
  margin: 0.4rem;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 0.4rem;
}

.secondary-btn {
  padding: 1rem 1.1rem; 
  background-color: var(--mint-cream);
}

.secondary-btn a {
  color: var(--night);
}

button:hover {
  background-color: var(--salmon-pink);
}

button:hover a {
  color: var(--mint-cream);
  
}

button a {
  text-decoration: none;
  color: var(--mint-cream);
  font-size: 1.2rem;
  font-family: 'questrial', sans-serif;
  font-weight: bolder;
}

/* (tech section) buttons */
.selection-container .btn {
  font-family: 'questrial', sans-serif;
  font-weight: bolder;
  border: 1px solid var(--mint-cream);
  padding: 0.5rem; 
  margin: 0.4rem;
  cursor: pointer;
  border-radius: 0.4rem;
}

.selection-container .btn:hover {
  background-color: var(--mint-cream);
  color: var(--night);
}

/* media query - tablet */
@media (min-width: 768px) {
  h1 {
    font-size: 5.5rem;
  }

  p {
    font-size: 1.7rem;
  }

  button, .secondary-btn{
    padding: 1.5rem 1.8rem;
  }

  button a {
    font-size: 1.5rem;
  }

  section {
    padding: 4rem;
  }
}

/* media query - desktop */
@media (min-width: 1024px) {
  h1 {
    font-size: 6rem;
  }

  .hero h1 {
    font-size: 8.5rem;
  }

  p {
    font-size: 1.8rem;
  }

  section {
    padding: 6rem;
  }
  .about-section {
    flex-direction: row;
  }

  .content-container {
    border: 7px solid var(--night);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 10px 79px -14px #141414;
  
  }
}